.main-toolbar {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  color: #3f51b5;
}

.app-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-links button{
  margin-left: 15px;
  font-family: "Noto Serif", serif;
  font-weight: bolder;
  font-size: 1.1rem;
  color: #3f51b5;
}

.mat-icon{
  color: #3f51b5;
}

.nav-links button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.login {
  background: transparent;
  padding: 8px;
  border-radius: 50%;
}

.menu-btn {
  display: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.login-button {
  margin-left: auto;
}
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .spacer, .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f8f9fa;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateX(0);
  }
}
