html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  padding-top: 130px;
}

app-footer {
  background-color: #2d3436;
  color: white;
  text-align: center;
}

.divider{
  border: none;
}
