html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  padding-top: 138px;
  padding-bottom: 2rem;
}

app-footer {
  color: white;
  text-align: center;
}

.divider {
  border: none;
}

@media (max-width: 768px) {
  .content {
    padding-top: 124px;
    padding-bottom: 1.2rem;
  }
}